* {
  box-sizing: border-box;
}
header {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 28px;
}
h2 a {
  text-decoration: none;
  color: black;
  /* background-color: yellow; */
}
ul {
  display: flex;
  list-style: none;
  gap: 10px;
  /* text-decoration: none; */
  /* padding-left: 20px; */
}
li {
  margin-right: 40px;
  color: black;
  /* background-color: rgb(48, 204, 204); */
  /* margin-left: 20%; */
}
.source:link {
  text-decoration: none;
}
span {
  font-size: 18px;
  color: black;
}
span:hover {
  background-color: rgb(236, 186, 121);
}
.detailpic {
  margin-left: 26px;
  width: 93vw;
  height: 90vh;
}
p {
  font-size: 16px;
  margin-left: 26px;
  margin-bottom: 3rem;
  font-size: 16px;
}
.p1 {
  margin-bottom: 25px;
}
p b {
  font-size: 24px;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.otherpic {
  display: flex;
  flex-direction: column;
}
.main2 {
  margin-left: 28px;
  margin-right: 40px;
  margin-top: 20px;
}
img {
  width: 45vw;
  height: 100vh;
}
#img {
  margin-right: 30px;
}
.bigimg {
  width: 93vw;
  height: 100vh;
  margin-top: 20px;
  margin-left: 28px;
}
.foot {
  display: flex;
  text-align: center;
  justify-content: start;
}
.footoption {
  display: inline;
  text-decoration: none;
  color: black;
}
.footoption:hover {
  background-color: bisque;
}
@media only screen and (max-width: 1180px) {
  .main2 {
    margin-left: 18px;
    margin-right: 15px;
    margin-top: 20px;
  }
  #img {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 730px) {
  img {
    width: 75vw;
    height: 30vh;
  }
}
@media only screen and (max-width: 730px) {
  .detailpic {
    margin-left: 10px;
    width: 70vw;
    height: 35vh;
  }
}
